html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}

#headerutama {
    display: flex;
    justify-content: space-between;
    background-color: rgb(128, 127, 127);
    height: 10vh;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    overflow: hidden;
}

#judul {
    color: rgb(201, 0, 0);
    margin-left: 50px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 25vw;
    height: 100%;
    align-items: center;
    padding-right: 10px;
}

.link {
    color: rgb(201, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-size: 1.2vw;
}

.link:hover {
    color: skyblue;
}

#isiweb {
    padding-top: 5vw;
}

#perkenalan {
    display: flex;
    margin: 2vw 3vw;
    box-sizing: border-box;
    background-color: maroon;
    border-radius: 5px
    
}

.perkenalanSpan {
    color: rgb(153, 153, 153);
    font-size: 30px;
}

#fotodimas {
    padding: 30px 30px;
    width: 25%; 
   float: left"
}

.textperkenalan {
    padding: 10px 30px;
    text-align: justify ;
    color: white;
}

.judulTable {
    font-size: 30px;
}

.linkSosmed {
    color: aqua;
}

.linkSosmed:hover {
    color: grey;
}

#background {
    display: block;
    margin: 2vw 3vw;
    box-sizing: border-box;
    background-color: snow;
    border-radius: 5px
}

.textbackground {
    padding: 0px 30px;;
    text-align: justify ;
    color: black;
}

#judul2 {
    padding-top: 20px;
}

#isi2 {
    padding-bottom: 20px;
}

#ceritaunik {
    display: block;
    margin: 2vw 3vw;
    box-sizing: border-box;
    background-color: maroon;
    border-radius: 5px
}

#judul3 {
    padding-top: 20px;
}

#isi3 {
    padding-bottom: 20px;
}

.textcerita {
    padding: 0px 30px;
    text-align: justify ;
    color: snow;
}
